@model StokTakip.Model.User
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <form action="/Account/User" method="post">

        @Html.HiddenFor(p => p.Id)

        <div class="form-group">
            @Html.LabelFor(p => p.Name)
            @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Surname)
            @Html.TextBoxFor(p => p.Surname, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Mail)
            @Html.TextBoxFor(p => p.Mail, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Password)
            @Html.TextBoxFor(p => p.Password, new { @class = "form-control" })
        </div>

        <br />

        <div><button class="btn btn-primary">GÜNCELLE</button></div>

    </form>
</div>
